.sectionItem{
    margin: 30px auto;
    border-radius: 20px;
}

.headerItem{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 45px;
}
.work{background-color: var(--color-work);}
.play{background-color: var(--color-play);}
.study{background-color: var(--color-study);}
.exercise{background-color: var(--color-exercise);}
.social{background-color: var(--color-social);}
.self-care{background-color: var(--color-self-care);}

.workImg{background-image: url('../../../../public/images/icon-work.svg'); background-repeat: no-repeat; background-position-x: 92%; background-position-y: 31%;}
.playImg{background-image: url('./images/icon-play.svg'); background-repeat: no-repeat; background-position-x: 92%; background-position-y: 31%;}
.studyImg{background-image: url('./images/icon-study.svg'); background-repeat: no-repeat; background-position-x: 92%; background-position-y: 31%;}
.exerciseImg{background-image: url('./images/icon-exercise.svg'); background-repeat: no-repeat; background-position-x: 92%; background-position-y: 31%;}
.socialImg{background-image: url('./images/icon-social.svg'); background-repeat: no-repeat; background-position-x: 92%; background-position-y: 31%;}
.self-careImg{background-image: url('./images/icon-self-care.svg'); background-repeat: no-repeat; background-position-x: 92%; background-position-y: 31%;}

.articleTitle,
.articleInformation{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0 15px;
}
.articleTitle h3{
    font-size: 18px;
    font-weight: 500;
}
.articleTitle button{
    background-color: inherit;
    color: var(--color-pale-blue);
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    gap: 3px;
    border: none;
}
.circle{
    width: 5px;
    height: 5px; 
    border-radius: 50%;
    background-color: var(--color-pale-blue);
    display: block;
    border: none;
}

.articleInformation h2{
    font-size: 40px;
    font-weight: 300;
}

.articleInformation p{
    color: var(--color-pale-blue);
    font-weight: 300;
    font-size: 16px;
}

.main{
    margin: auto;
    width: 360px;
}

.body{
    background-color: var(--color-dark-blue);
    border-radius: 20px;
    padding: 30px 0;
}
.body:hover{
    background-color: #2d3274;
}

@media (min-width: 1065px){
    .main{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      width: 815px;
      gap: 15px;
    }
    .articleInformation{
        align-items: flex-start;
        flex-direction: column;
        width: 240px;
        padding-top: 25px;
    }
    .body{
        height: 140px;
    }
    .articleInformation h2{
        font-size: 50px;
    }
    .bodyInformation{
        padding-bottom: 0;
    }
    .sectionItem{
        margin: 7px auto;
        cursor: pointer;
        width: 255px;
    }
    .headerItem{
        height: 40px;
    }
}